In [4]:
import os

In [6]:
os.chdir(r"D:\Code-Hero-Hub\PYTHON\Data Science\Spyder")

In [9]:
import pandas as pd

In [10]:
data_csv =pd.read_csv("Iris_data_sample.csv")

In [11]:
data_csv

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
# Read the dataset a the csv format
Data_csv =pd.read_csv("Iris_data_sample.csv")
Data_csv

In [ ]:
# remove the extra column
Data_csv1 = pd.read_csv("Iris_data_sample.csv", index_col=0)
Data_csv1

In [ ]:
# Remove the missing value and consider as null
Data_csv2 = pd.read_csv("Iris_data_sample.csv", index_col=0, na_values=["??", "###"])
Data_csv2

In [ ]:
# read the Dataset as text file
Data_txt = pd.read_table("Iris_data_sample.txt")
Data_txt

In [ ]:
# remove the extra column
Data_txt1 = pd.read_table("Iris_data_sample.txt", index_col=0)
Data_txt1

In [ ]:
# Remove the missing value and consider as null
Data_txt2 = pd.read_table("Iris_data_sample.txt", sep=" ")
Data_txt2

In [ ]:
# Remove the missing value and consider as null
Data_txt3 = pd.read_table("Iris_data_sample.txt", index_col=0, na_values=["??", "###"], delimiter=" ")
Data_txt3

In [ ]:
# Read the Dataset as Excel format
Data_Excel =pd.read_excel("Iris_data_sample.xlsx")
Data_Excel

In [ ]:
# remove the extra column
Data_excel1 = pd.read_excel("Iris_data_sample.xlsx", index_col=0)
Data_excel1

In [ ]:
# Remove the missing value and consider as null
Data_excel2 = pd.read_excel("Iris_data_sample.xlsx", index_col=0, na_values=["??", "###"])
Data_excel2